@font-face { 
  font-family: CharlieHandwriting; 
  src: url(CharlieHandwriting.ttf); 
}
charliewrite-title{
  font-family:CharlieHandwriting;
  font-size:100px;
 }
charliewrite{
  font-family:CharlieHandwriting;
  font-size:50px;
 }
